<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'library_kamote.css' %}">
</head>
<body>
    <div class="view-main">
        <div class="container a-center j-center m-center-h m-t2">
            <h1>{{ date }}</h1>
            <h1 class="m-b0">{{ time }}</h1>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static 'library_kamote.js' %}"></script>
</body>
</html>