:root {
    --transition-speed: 250ms;
    --main-color-dark-1: #121417;
    --main-color-dark-2: #101214;
    --main-color-dark-3: #0b0d0e;
    --main-color-medium-1: #17191c;
    --main-color-medium-2: #151619;
    --main-color-light-1: #ced4da;
    --main-color-light-2: #adb5bd;
    --main-color-white-1: #fafafa;
    --main-color-white-2: #e9ebed;
    --main-color-1: #c8a7af;
    --main-color-2: #b87f8a;
    --main-color-3: #ae6f7c;
    --color-subtle-text: #64707d;
    --fade-in-speed: 1.5s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/*~ -------------------------------------------------------------------------- */
/*~                                   nav-bar                                  */
/*~ -------------------------------------------------------------------------- */


.container-navbar-vertical {
 position: fixed;
 top: 0;
 left: 0;
 width: 4.5rem;
 height: 100vh;   
 transition: width var(--transition-speed) ease;
}

.navbar-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: .5rem;
}

.navbar-link {
    width: 4.5rem;
    height: 3.5rem;
    padding-inline: 1.75rem;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    transition: all 100ms ease-out 0ms;
    transition: width var(--transition-speed) ease;

    text-decoration: none;
    fill: #fafafa;
}
.navbar-link .b {
    transition: all 100ms ease-out 10ms;
}
.navbar-link-icon2 {
    aspect-ratio: 1/1;
    width: 2rem;
    margin-left: -.5rem;
    position: absolute;
    transition: all var(--transition-speed) ease;
}
.navbar-link-icon {
    aspect-ratio: 1/1;
    width: 1rem;
    position: absolute;
    transition: all var(--transition-speed) ease;
}
.navbar-link-text {
    margin-left: 3.1rem;
    /*behavior*/
    opacity: 0;
    transition: all 100ms ease-out 0ms;
}

.test1 {
    margin-top: auto;
}

/*~ ------------------------------ navbar hover ------------------------------ */

.container-navbar-vertical:hover {
    width: 11rem;
}
.container-navbar-vertical:hover .navbar-link {
    width: 11rem;
}
.container-navbar-vertical:hover .navbar-link-text {
    opacity: 1;
    transition: var(--transition-speed) ease 30ms;
}
.navbar-link:hover {
    color: #b87f8a;
    fill: #b87f8a;

    background-color: var(--main-color-medium-2);
    transition: var(--transition-speed) ease 30ms;
}
.navbar-link:hover .b {
    fill: #b87f8a;
    transition: var(--transition-speed) ease 30ms;
}

/** -------------------------------------------------------------------------- */
/**                                 page style                                 */
/** -------------------------------------------------------------------------- */

.view-main {
    margin-left: 4.5rem;
    height: 100vh;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-sign-out {
    /* layout */
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: .5rem 1.25rem;
    display: flex;
    gap: 1rem;

    /* behavior */
    transition: var(--transition-speed) ease 30ms;
    animation: fadeInAnimation ease var(--fade-in-speed);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    /* style */
    text-decoration: none;
    background-color: var(--main-color-2);
    letter-spacing: 1px;
}
.icon-sign-out {
    aspect-ratio: 1/1;
    width: .75rem;
}

.button-sign-out:hover {
    background-color: var(--main-color-1);
}

.pulse {
    /* margin-top:25vh;
    margin-inline: auto; */
    aspect-ratio: 1/1;
    width: 15rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: 3s ease;
}
.pulse:not(:hover):before{
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    width: 8rem;
    background-color: var(--main-color-light-2);
    border-radius: 50%;
    z-index:10;
    opacity: .5;
    transition: 3s ease;
}
.pulse:hover:after {
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    width: 8rem;
    background-color: var(--main-color-2);
    border-radius: 50%;
    z-index:10;
    opacity: .5;
    transition: 3s ease;
}
.pulse:before{
    animation: pulse 2s ease-out infinite;
    animation-fill-mode: forwards;
}
.pulse:after {
    animation: pulse 1s ease-out infinite ;
    animation-fill-mode: forwards;
}
@keyframes pulse {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.background-fingerspell {
    aspect-ratio: 1/1;
    width: 8.5rem;
    border-radius: 50%;
    background-color: var(--main-color-medium-2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    animation: fadeInAnimation ease var(--fade-in-speed);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.button-fingerspell {
    z-index: 30;
    transition: var(--transition-speed) ease 30ms;
    text-decoration: none;
    margin: 0;
}
.icon-fingerspell {
    aspect-ratio: 1/1;
    width: 2.5rem;
    transition: var(--transition-speed) ease 30ms;
}

.button-fingerspell .f {
    fill: var(--main-color-white-1);
    transition: var(--transition-speed) ease 30ms;
}

.button-fingerspell:hover {
    color: var(--main-color-2);
    cursor: pointer;
    transition: var(--transition-speed) ease 30ms;

}
.button-fingerspell:hover .f{
    fill: var(--main-color-2);
    cursor: pointer;
    transition: var(--transition-speed) ease 30ms;
}
