<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Show</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='library-kamote_theme-dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="view-main">
        <div class="flex">
            <div class="container background-off">
            <h1 class="margin-b2">{{ author_data.first_name + ' ' + author_data.last_name + "'s" }} Favorites</h1>
                <table class="table">
                    <thead>
                        <tr class="table-row">
                            <th>Title</th>
                            <th># of Pages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in author_data.favorite_books %}
                        <tr class="table-row">
                            <tD>{{ row.title }}</tD>
                            <tD>{{ row.pages }}</tD>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="container background-off">
                <h1 class="margin-b2">Add a Favorite Book</h1>
                <form action="/add_book" method="post" class="form w15">

                    <label for="form_book_id" class="input w-max">
                        <span>Book:</span>
                        <select name="form_book_id">
                            {% for row in all_books %}
                            <option value="{{ row.id}}">{{ row.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    
                    <input type="submit" class="button" value="Add">
                    <input type="hidden" name="form_author_id" value="{{ redirect_id }}">

                </form>
            </div>
        </div>
        <a href="/authors" class="a-home">Home</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='library-kamote_theme-dark.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>