<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | Input</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-main vertical-flex-center">
        <div class="container-nav-bar flex-center">
            <h1>{{ input_phrase }}</h1>
            <a href="/users" name="a_home">Home</a>
        </div>

        <form action="/submit_new" method="post" class="form vertical-flex-evenly">

            <div class="container1 container-name flex-center">
                <span class="label">First Name:</span>
                <input type="text" name="form_first_name" class="textarea-small">
            </div>
            <div class="container1 container-name flex-center">
                <span class="label">Last Name:</span>
                <input type="text" name="form_last_name" class="textarea-small">
            </div>
            <div class="container1 container-name flex-center">
                <span class="label">Email:</span>
                <input type="text" name="form_email" class="textarea-small">
            </div>
    
            <input type="submit" name="input-submit" class="button-submit" value = "create">
        </form>
    </div>
</body>
</html>