<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="view-main">
        <h1>All Users</h1>
        <table class="container-large table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for each_user in all_users %}
                <tr>
                    <th>{{ each_user.id }}</th>
                    <td>{{ each_user.first_name + ' ' + each_user.last_name }}</td>
                    <td>{{ each_user.email }}</td>
                    <td>{{ each_user.created_at }}</td>
                    <td class="flex center-j center-a">
                        <a href="/users/{{ each_user.id }}" name="a_show_user">Show</a>
                        <a href="/users/{{ each_user.id }}/update" name="a_edit_user">Edit</a>
                        <a href="/users/{{ each_user.id }}/delete" name="a_delete_user">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a name="a_new_user" value="new_user" href="/users/new">Create a new user</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>