<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | {{ first_name }} </title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="view-main">
        <div class="container-nav-bar flex-center">
            <h1>{{ input_phrase + user.id|string }}</h1>
            <a href="/users" name="a_home">Home</a>
        </div>

        <div class="container-small flex v center-h w20" style="display: {{ display_read }}">
            <div class="flex">
                <h5>Full Name: </h5>
                <p>{{ user.first_name + ' ' + user.last_name }}</p>
            </div>
            <div class="flex">
                <h5>Email: </h5>
                <p>{{ user.email }}</p>
            </div>
            <div class="flex">
                <h5>Created On:</h5>
                <p>{{ user.created_at }}</p>
            </div>
            <div class="flex">
                <h5>Last Updated: </h5>
                <p>{{ user.updated_at }}</p>
            </div>
            <div class="flex around start-a">
                <a href="/users/{{ user.id }}/update" name="a_update_user">Edit</a>
                <a href="/users/{{ user.id }}/delete" name="a_delete_user">Delete</a>
            </div>
        </div>    

        <div class="container-small center-h w20" style="display: {{ display_update }}">
            <form action="/submit_update" method="post" class="flex v">
                <input type="hidden" name="form_id" value="{{ user.id }}">
                <label class="input" for="form_first_name">
                    <span class="label">First Name:</span>
                    <input type="text" name="form_first_name" class="textarea-small" value="{{ user.first_name }}">
                </label>
                <label class="input" for="form_last_name">
                    <span class="label">Last Name:</span>
                    <input type="text" name="form_last_name" class="textarea-small" value="{{ user.last_name }}">
                </label>
                <label class="input" for="form_email">
                    <span class="label">Email:</span>
                    <input type="text" name="form_email" class="textarea-small" value="{{ user.email }}">
                </label>
                <div class="flex between end-a w-max">
                    <input type="submit" name="input-submit" class="button" value = "Update">
                    <a href="/users/{{ user.id }}">Back to user info</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>